# Golang
src/github.com
src/golang.org
bin/*
pkg/*

# CodeShip
build_args
*.aes
aws_deployment.dev
dockercfg
*_key.env

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
*.lock.hcl
*.pem

# Archives
*.gz
*.tar
*.zip
oxide/logs/*
*.log
.vscode

# Build markers
build.txt

# Application data and logs
defaults/oxide/data/Arkan/*
defaults/oxide/data/Auto*
defaults/oxide/data/Backpacks.json
defaults/oxide/data/Backpacks/*
defaults/oxide/data/Banks/*
defaults/oxide/data/BaseRepair.json
defaults/oxide/data/BlueprintShare.json
defaults/oxide/data/carcommander*
defaults/oxide/data/ChillNightVision.json
defaults/oxide/data/clan_data.json
defaults/oxide/data/death_history_data.json
defaults/oxide/data/DeepWater.json
defaults/oxide/data/Discord*
defaults/oxide/data/Friends.json
defaults/oxide/data/FurnaceSplitter.json
defaults/oxide/data/Godmode.json
defaults/oxide/data/Guardian/*
defaults/oxide/data/GUIAnnouncementsPlayerData.json
defaults/oxide/data/HitIcon.json
defaults/oxide/data/ItemCreatorIds.json
defaults/oxide/data/ItemQualities.json
defaults/oxide/data/KDRGui/*
defaults/oxide/data/MapNoteTeleport.json
defaults/oxide/data/MasterKey.json
defaults/oxide/data/NTeleport*
defaults/oxide/data/oxide.*
defaults/oxide/data/PerformanceMonitor/*
defaults/oxide/data/PhonesPlus/*
defaults/oxide/data/PlayerCrafting*
defaults/oxide/data/PlaytimeSupplySignal.json
defaults/oxide/data/PowerSpawn.json
defaults/oxide/data/Prod_BuildingData.json
defaults/oxide/data/QuickSort.json
defaults/oxide/data/RaidableBases.json
defaults/oxide/data/RaidAlarm.json
defaults/oxide/data/RealtimeWipeInfo.json
defaults/oxide/data/rustio/*
defaults/oxide/data/RustMapApi.json
defaults/oxide/data/ScraponomicsLite.json
defaults/oxide/data/SecurityLights.json
defaults/oxide/data/ServerArmour/*
defaults/oxide/data/SkullCrusher.json
defaults/oxide/data/SpawnMini.json
defaults/oxide/data/SpawnsDatabase/*
defaults/oxide/data/Statistics.json
defaults/oxide/data/Suicide Vest.json
defaults/oxide/data/ZBillBoards.json
defaults/oxide/data/ZoneManager/*
.DS_Store
**/.DS_Store

# node files
**/node_modules