## SolidRusT wipe schedule
# Facepunch force-wipe
0 9 * * THU [ "$(date +\%d)" -le 7 ] && /bin/sh -c "/root/solidrust.net/defaults/0_wipe_server.sh force"
# Monday, Thursday map wipe
0 9 * * MON,THU [[ "$(date +\%d)" -le 7 ]] || /bin/sh -c /root/solidrust.net/defaults/0_wipe_server.sh

## SolidRusT server backups
*/10 *  * * *   root /bin/sh -c /root/solidrust.net/defaults/10_backup.sh

## SolidRusT Build refresh
03 *    * * *   root /bin/sh -c /root/solidrust.net/defaults/21_sync_repo.sh

## SolidRusT local log management
15 *    * * *   root /bin/sh -c /root/solidrust.net/defaults/45_logrotate.sh