# SolidRusT defaults
45 *    * * *   admin   /bin/sh -c /root/solidrust.net/defaults/web/45_logrotate.sh
*/10 *    * * *   admin  /bin/sh -c /home/admin/solidrust.net/defaults/web/44_sync_server_config.sh

## SolidRusT server backups. Final step after going live.
*/15 *    * * *   admin  /bin/sh -c /home/admin/solidrust.net/defaults/web/15_web_backups.sh

