# SolidRusT defaults
45 *    * * *   root   /bin/sh -c /root/solidrust.net/defaults/database/45_logrotate.sh
#50 *    * * *   root    rm -rf /root/solidrust.net;     mkdir -p /root/solidrust.net;     aws s3 sync --only-show-errors --delete s3://solidrust.net-repository /root/solidrust.net;     chmod +x /root/solidrust.net/defaults/*.sh;  chmod +x /home/admin/solidrust.net/defaults/database/*.sh

## SolidRusT server backups. Final step after going live.
*/15 *    * * *   root  /bin/sh -c /root/solidrust.net/defaults/database/15_backup_database.sh
