 3 *    * * *   admin  /bin/bash /home/admin/solidrust.net/defaults/database/3_sync_repo_pull.sh
15 *    * * *   admin  /bin/bash /home/admin/solidrust.net/defaults/database/15_backup_database.sh
 0 *    * * *   admin  /usr/sbin/logrotate -f /home/admin/solidrust.net/defaults/database/logrotate.conf --state /home/admin/logrotate-state
